body{
    margin: 0px;
    background: #ffffff;
}
.first-section{
    background: url("images/donation2.jpg") no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 150px;
    text-align: center;
}

.header > h1{
    font-size: 60px;
    color: rgb(226, 11, 93);
}
.header > p{
    color: rgb(26, 231, 26);  
}
a{
    text-decoration: none;
    border: 1px solid rgb(230, 42, 42);
    padding: 10px;
    color: rgb(241, 237, 237);
    background-color: rgb(240, 120, 7);
}
.second-section{
    padding-top: 40px;
    padding-bottom: 50px;
}
.donate-today{
    text-align: center;
}

span{
    padding: 30px;
    background-color: rgb(240, 232, 232);  
    border: 1px solid white;
    display: inline-block;
    margin-right: 5px;
}
#focus{
    border: 1px solid hsl(0, 93%, 54%);
    background-color: rgb(252, 217, 217);
}
input{
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    width: 50%;
    text-align: center;
    padding: 7px;
}