body{
    margin: 0px;
    background: hsl(0, 0%, 100%);
}

/*section-one styles*/

.first-section{
    background: url("images/donation2.jpg") no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 150px;
    text-align: center;
}

.header > h1{
    font-size: 60px;
    color: rgb(226, 11, 93);
}
.header > p{
    color: rgb(26, 231, 26);  
}
a{
    text-decoration: none;
    border: 1px solid rgb(230, 42, 42);
    border-radius: 5px;
    padding: 10px;

    color: rgb(241, 237, 237);
    background-color: rgb(240, 120, 7);
}

/*second-section start styling*/

.second-section{
    padding-top: 40px;
    padding-bottom: 80px;
}
.donate-today{
    text-align: center;
}
.donate-today > h1{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    ;
}
.span-tag{
    padding: 45px;
}
span{
    padding: 30px;
    background-color: rgb(240, 232, 232);  
    border: 1px solid white;
    margin-right: 5px;
}
#focus{
    border: 1px solid hsl(0, 93%, 54%);
    background-color: rgb(252, 217, 217);
}
input{
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    width: 50%;
    text-align: center;
    padding: 7px;
}

/*third-section styling*/

.third-section{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.divide{
    display: flex;
    margin: 0px 90px;
    box-sizing: border-box;
}
.third-sub{
    border: 1px solid white;
    background-color:rgb(243, 203, 152);
    margin-right: 10px;
    text-align: left;
    padding: 10px;
}
.one{
    background-color: rgb(208, 240, 240);
}
.two{
    background-color: rgb(248, 233, 213);
}



/*footer part start styling*/
footer{
    text-align: center;
    background-color: black;
    color:aquamarine
}
.footer-section{
    padding: 20px 0px;
}
.first-section > h1{
    font-family: 'The Nautigal', cursive;
}