body{
    margin: 0px;
    background: hsl(0, 0%, 100%);
}

/*section-one styles*/

.first-section{
    background: url("images/donation2.jpg") no-repeat;
    background-size: cover;
    padding-top: 65px;
    padding-bottom: 185px;
    text-align: center;
}

.header > h1{
    font-size: 75px;
    color: red;
    font-weight: 900;
}
.header > p{
    color: rgb(111, 12, 240);
    font-size: 25px; 
    font-weight: bold;
    font-style: italic;
    padding: 50px;
}
a{
    text-decoration: none;
    border: 1px solid rgb(219, 235, 77);
    border-radius: 7px;
    padding: 15px;

    color: rgb(22, 20, 20);
    background-color: rgb(126, 214, 12);
    font-weight: bold;
}

/*second-section start styling*/

.second-section{
    padding-top: 40px;
    padding-bottom: 70px;
}
.donate-today{
    text-align: center;
}
.donate-today > h1{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
#para1{
    padding: 5px 45px;
}
.span-tag{
    padding: 45px;
}
span{
    padding: 30px;
    background-color: rgb(240, 232, 232);  
    border: 1px solid white;
    margin-right: 5px;
}
#focus{
    border: 1px solid hsl(0, 93%, 54%);
    background-color: rgb(252, 217, 217);
}
.input-style{
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    width: 50%;
    text-align: center;
    padding: 7px;
}

/*third-section styling*/

.third-section{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#para3{
    padding: 0px 30px;
}
#increase-size{
    font-size: 30px;
    font-style: bold;
}
.divide{
    display: flex;
    margin: 0px 90px;
    box-sizing: border-box;
}
.third-sub{
    border: 1px solid white;
    background-color:rgb(243, 203, 152);
    margin-right: 15px;
    text-align: left;
    padding: 20px;
}
.para2{
    text-align: justify;
}
.one{
    background-color: rgb(208, 240, 240);
}
.two{
    background-color: rgb(248, 233, 213);
}

/*fouth section starting here*/
.fouth-section{
    display: flex;
    padding: 40px 30px;
    margin-left: 45px;
    margin-right: 72px;
}
.fouth-sub{
    margin-left: 10px;
    border: none;
    background-color: rgb(52, 184, 224);
    padding: 25px;
}
.add-bg{
    background-color: aqua;
    text-align: justify;
}

button{
    text-align: center;
    position: relative;
    left: 105px;
}

/*fifth-section styling start*/
.fifth-section{
    text-align: center;
}
.form-style{
    border: 1px solid #ffffff;
    background-color:rgb(248, 232, 210);
    margin: 30px 350px 75px;
    padding: 70px;
}
#new-input-style{
    text-align: left;
    border: none;
    background-color: rgb(182, 182, 177);
    padding: 5px;
}
#new-input-style-two{
    text-align: center;
    border: none;
    color: white;
    background-color: red;
    padding: 5px;
}

/*footer part start styling*/
footer{
    text-align: center;
    background-color: black;
    color:aquamarine
}
.footer-section{
    padding: 20px 0px;
}
.title{
    font-family: 'The Nautigal', cursive;
    color:#b41515;
}